@import './common.scss';

p{
  color: red
}

.form {
    @include justifications;
}


.button {
    width: 200px;
    height: 50px;
    @include center-flex;
    @include box-commons;
    background-color: #E6781E;
      
    &--hover {
      &:hover {
        cursor: pointer;
        box-shadow: 0px 0px 0px 0px;
      }
    }
  }